@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{

    background-color: #FFFF;
    padding: 5px 70px;   
}

.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
    
}

.logo-text{
    
    color:#F17228;
    font-family: 'Poppins', sans-serif;
    font-size: 1vw;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.778px;
}

.logo-text2{
    
    color:#FFB30E;
    font-family: 'Poppins', sans-serif;
    font-size: 1vw;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.778px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
 }
 
li{
    list-style: none;
}

.locations{
    display: flex;
    gap: 5px;
    align-items: center;
}

.location-text{
    font-family: sans-serif;
    text-align: center;
    color: #424242;
    text-align: center;
    font-size: 1vw;
    font-style: normal;
    font-weight: 700;
    }

.location-text2{
    color: #424242;
    font-family: 'Poppins';
   font-size: 1vw;
    font-style: normal;
    text-align: center;
    }

.location-text3{
    color: #424242;
    font-family: 'Poppins';
    font-size: 1vw;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}
.search-login{
    display: flex;
    align-items: center;
    gap: 10px;
}

.search{
    border: none;
    width: inherit;
}

.search:focus{
    outline: none;
}
.search-logo{
    width: 10%;
    height: 10%;
}

.search::placeholder{
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    padding: 8px 8px;
    border-radius: 8px;
    box-shadow: 0px 20px 40px 0px rgba(255, 174, 0, 0.29), 0px 5px 10px 0px rgba(255, 174, 0, 0.26);
}

.user{
    width: 15px;
    height: 18px;
}

.login-text{
    color: #FFB30E;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}
.middle{
   
    background: url(./assets/blankimage.png),  lightgray 0.717px -41.026px / 100% 106.613% no-repeat;
   

}

.access{
    padding: 132px 220px;
    margin: 0 auto;
    display: flex;
    max-width: 600px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}
.access-heading{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' ;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    color: #FFFFFF;
}

.access-body{
    margin-bottom: 0;
    padding: 0;
    font-family: 'Poppins' ;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}
.input-bar{
 width: 100%;
 background-color: #FFFFFF;
 border-radius: 15px;
}

.content{
    padding: 24px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.inputs{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.content-data{
    color: #F17228;
    font-family: 'Poppins' ;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.content-data2{
    color: #757575;
    font-family: 'Poppins' ;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.content2{
    padding:0px 24px 24px 24px;
    display: flex;
    align-items: center;
    gap: 16px;

}
.content2-input-location{
    padding:5px;
    width: 75%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: rgb(248, 246, 246);
    border-radius: 10px;
}
.content2-input{
    padding: 7px 0px 8px 16px;
    width: 80%;
    border-radius: 5px;
    border: none;
    background-color: rgb(248, 246, 246);
}

.content2-search{
    width: 25%;
    background-color: #F17228;
    border-radius: 5px;
    padding: 15px;
    align-items: center;
    gap: 10px;
    text-align: center;
}
.content2-text2{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    color: white;
    font-size: 12px;
    font-weight: 600;
    
}

.content2-text2 span{
    font-family: 'Poppins';
}


.carousel-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-shrink: 0;
    margin: 80px 0px;
    
}

.items{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}
.food-image{
    width: 250px;
    flex-shrink: 0;
    position: relative;
}
.words{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 6px 20px;
    border-radius: 0px 32px 0px 20px;
    background: #FFB30E;
    width: 25%;
    position: absolute;
    bottom: 4px;
    left: 0px;
}

.numbers{
    font-family: 'Poppins';
    color: #FFFFFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 106%;
}
.num-content{
    color: #FFFFFF;
    margin: 0px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    
}
.items-words{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
}

.items-letter{
    color: var(--theme-gray-800, #424242);
    font-family: 'Poppins' ;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.items-time{
    display: flex;
    padding: 8px 16px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: rgba(241, 114, 40, 0.20);
    color: var(--theme-warning, #F17228);
    font-family: 'Poppins' ;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.info{
    padding: 80px 0px;
    text-align: center;
    font-family: 'Poppins' ;
    background: linear-gradient(180deg, rgba(255, 206, 103, 0.22) 0%, rgba(253, 237, 202, 0.00) 100%);
}

.info-info{
    color: #F17228;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 112%;
}
.info-content{
    margin-top: 71px;
}

.info-main{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 41px;
}
.location-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-info{
    width: 70%;
}
.info-main-d{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.info-main-content-data{
    text-align: center;
    color: #434343;
    text-align: center;
    font-family: 'Poppins' ;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.info-main-content-data2{
    color: var(--theme-gray-500, #9E9E9E);
    text-align: center;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.carousel2-data{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 88px;
}

.carousel2{
    margin: 80px 0px;
    color:  #212121;
    text-align: center;
    font-family: 'Poppins' ;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 112%
}
.carousel2-heading{
    font-weight: bold;
}

.carousel2-menue{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.carousel2-menue-data{
    display: flex;
    width: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    
}

.carousel2-menue-data-content{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    align-self: stretch;
}
.data-c2{
    color: #424242;
    font-family: 'Poppins' ;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.data-c22{
    color:  #FFB30E;
    font-family: 'Poppins' ;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    display: flex;
    justify-content: center;
    gap: 7px;
}

.data-c23{
    color: var(--theme-gray-900, #212121);
    font-family: 'Poppins' ;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.carousel2-button{
    
    display: flex;
    padding: 21px 48px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    background:  #F17228;
    color: #FFF;
    text-align: center;
    font-family: 'Poppins' ;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    box-shadow: 0px 20px 40px 0px rgba(250, 99, 35, 0.24), 0px 5px 10px 0px rgba(253, 114, 92, 0.22);
}